/* Navbar.module.css */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db; /* Couleur de fond principale */
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet de profondeur */
}

.h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  margin: 0;
}

.rgb {
  color: #34495e; /* Couleur accentuée pour DentaShop */
}

.navMenu {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Espacement entre les éléments de la navbar */
}

.link {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ecf0f1; /* Changement de couleur lors du survol */
}

.navItem {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.active {
  background-color: #2980b9; /* Couleur de fond pour l'élément actif */
}

.auth, .cart {
  cursor: pointer;
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
  filter: invert(100%); /* Inverse la couleur de l'icône pour la rendre blanche */
}

.cart::after {
  content: attr(data-count); /* Afficher le nombre d'articles dans le panier */
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #e74c3c;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
